Repository TeachMe-CloudUS/teachme-ratings-service, pull requests merged in 2024-12, with the labels that each got.

#31 conf: Modificación en el archivo pom y Dockerfile #9
  .gitignore
  Dockerfile
  pom.xml
Labels: config

#34 conf: Implementación Throttling y Feature Toggle y Tests #33
  src/main/java/com/mongodb/starter/rating/RatingConfig.java
  src/main/java/com/mongodb/starter/rating/RatingService.java
  src/main/java/com/mongodb/starter/rating/RatingThrottler.java
  src/main/java/com/mongodb/starter/rating/TokenBucket.java
  src/main/resources/application.properties
  src/test/java/com/mongodb/starter/rating/RatingFToggleTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingThrottlerTest.java
Labels: config

#35 conf: arreglos de implementación API Swagger y configuración Cors #5
  pom.xml
  src/main/java/com/mongodb/starter/ApplicationStarter.java
  src/main/java/com/mongodb/starter/configuration/OpenApiConfiguration.java
  src/main/java/com/mongodb/starter/configuration/SecurityConfig.java
Labels: config

#36 Config#32
  application-test.yml
  pom.xml
  src/main/java/com/mongodb/starter/configuration/RestTemplateConfig.java
  src/main/java/com/mongodb/starter/rating/Rating.java
  src/main/java/com/mongodb/starter/rating/RatingController.java
  src/main/java/com/mongodb/starter/student/StudentDto.java
  src/main/resources/application.properties
  src/test/java/com/mongodb/starter/rating/RatingControllerIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingControllerUnitaryTest.java
Labels: config, fix

#37 Develop
  application-test.yml
  pom.xml
  src/main/java/com/mongodb/starter/ApplicationStarter.java
  src/main/java/com/mongodb/starter/configuration/OpenApiConfiguration.java
  src/main/java/com/mongodb/starter/configuration/RestTemplateConfig.java
  src/main/java/com/mongodb/starter/configuration/SecurityConfig.java
  src/main/java/com/mongodb/starter/rating/Rating.java
  src/main/java/com/mongodb/starter/rating/RatingConfig.java
  src/main/java/com/mongodb/starter/rating/RatingController.java
  src/main/java/com/mongodb/starter/rating/RatingService.java
  src/main/java/com/mongodb/starter/rating/RatingThrottler.java
  src/main/java/com/mongodb/starter/rating/TokenBucket.java
  src/main/java/com/mongodb/starter/student/StudentDto.java
  src/main/resources/application.properties
  src/test/java/com/mongodb/starter/rating/RatingControllerIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingControllerUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingFToggleTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingThrottlerTest.java
Labels: config, feat, backend, fix

#38 Release
  application-test.yml
  pom.xml
  src/main/java/com/mongodb/starter/ApplicationStarter.java
  src/main/java/com/mongodb/starter/configuration/OpenApiConfiguration.java
  src/main/java/com/mongodb/starter/configuration/RestTemplateConfig.java
  src/main/java/com/mongodb/starter/configuration/SecurityConfig.java
  src/main/java/com/mongodb/starter/rating/Rating.java
  src/main/java/com/mongodb/starter/rating/RatingConfig.java
  src/main/java/com/mongodb/starter/rating/RatingController.java
  src/main/java/com/mongodb/starter/rating/RatingService.java
  src/main/java/com/mongodb/starter/rating/RatingThrottler.java
  src/main/java/com/mongodb/starter/rating/TokenBucket.java
  src/main/java/com/mongodb/starter/student/StudentDto.java
  src/main/resources/application.properties
  src/test/java/com/mongodb/starter/rating/RatingControllerIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingControllerUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingFToggleTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingThrottlerTest.java
Labels: config, feat, backend, fix
