Repository TeachMe-CloudUS/teachme-ratings-service, pull requests merged in 2025-01, with the labels that each got.

#39 Test#6
  .github/workflows/codacy.yml
  .github/workflows/run-on-master.yml
  .gitignore
  README.md
  pom.xml
  src/main/java/com/mongodb/starter/ApplicationStarter.java
  src/main/java/com/mongodb/starter/exceptions/ValidationException.java
  src/main/java/com/mongodb/starter/rating/Rating.java
  src/main/java/com/mongodb/starter/rating/RatingController.java
  src/main/java/com/mongodb/starter/rating/RatingValidator.java
  src/main/java/com/mongodb/starter/student/UserService.java
  src/main/resources/application.properties
  src/test/java/com/mongodb/starter/rating/RatingControllerIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingControllerUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingValidatorTest.java
Labels: test, feat

#40 Develop
  .github/workflows/codacy.yml
  .github/workflows/run-on-master.yml
  .gitignore
  README.md
  pom.xml
  src/main/java/com/mongodb/starter/ApplicationStarter.java
  src/main/java/com/mongodb/starter/exceptions/ValidationException.java
  src/main/java/com/mongodb/starter/rating/Rating.java
  src/main/java/com/mongodb/starter/rating/RatingController.java
  src/main/java/com/mongodb/starter/rating/RatingValidator.java
  src/main/java/com/mongodb/starter/student/UserService.java
  src/main/resources/application.properties
  src/test/java/com/mongodb/starter/rating/RatingControllerIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingControllerUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingValidatorTest.java
Labels: test

#41 Release
  src/main/java/com/mongodb/starter/exceptions/ValidationException.java
  src/main/java/com/mongodb/starter/rating/RatingController.java
  src/main/java/com/mongodb/starter/rating/RatingValidator.java
  src/test/java/com/mongodb/starter/rating/RatingControllerIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingControllerUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingValidatorTest.java
Labels: test

#43 Hotfix
  src/main/java/com/mongodb/starter/rating/RatingController.java
  src/main/java/com/mongodb/starter/student/ContactInformation.java
  src/main/java/com/mongodb/starter/student/ProfileInformation.java
  src/main/java/com/mongodb/starter/student/StudentDto.java
  src/main/resources/application.properties
  src/test/java/com/mongodb/starter/rating/RatingControllerIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingControllerUnitaryTest.java
  src/test/java/com/mongodb/starter/rating/RatingServiceIntegrationTest.java
  src/test/java/com/mongodb/starter/rating/RatingValidatorTest.java
Labels: fix

#44 fix: Agregado updateRatings en método create e inicializado validator…
  src/main/java/com/mongodb/starter/rating/RatingController.java
  src/test/java/com/mongodb/starter/rating/RatingValidatorTest.java
Labels: fix
